@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-greendish: #0db75f;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2264 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2264 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2264 0 0);
  --primary: oklch(0.7195 0.1633 153.3567);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9551 0 0);
  --secondary-foreground: oklch(0.2264 0 0);
  --muted: oklch(0.9067 0 0);
  --muted-foreground: oklch(0.5103 0 0);
  --accent: oklch(0.9791 0 0);
  --accent-foreground: oklch(0.2264 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7195 0.1633 153.3567);
  --input: oklch(0.9821 0 0);
  --ring: oklch(0.7195 0.1633 153.3567);
  --chart-1: oklch(0.7195 0.1633 153.3567);
  --chart-2: oklch(0.6353 0.1426 247.6116);
  --chart-3: oklch(0.6001 0.2115 27.5614);
  --chart-4: oklch(0.7635 0.1505 60.8384);
  --chart-5: oklch(0.5887 0.1365 274.2407);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2264 0 0);
  --sidebar-primary: oklch(0.7195 0.1633 153.3567);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9791 0 0);
  --sidebar-accent-foreground: oklch(0.2264 0 0);
  --sidebar-border: oklch(0.7195 0.1633 153.3567);
  --sidebar-ring: oklch(0.7195 0.1633 153.3567);
  --font-sans: var(--font-Inter), "Inter", system-ui, -apple-system, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #38c172;
  --shadow-2xs: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.1);
  --shadow-xs: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.1);
  --shadow-sm: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.2),
    0px 1px 2px -1px hsl(145.4015 55.0201% 48.8235% / 0.2);
  --shadow: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.2),
    0px 1px 2px -1px hsl(145.4015 55.0201% 48.8235% / 0.2);
  --shadow-md: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.2),
    0px 2px 4px -1px hsl(145.4015 55.0201% 48.8235% / 0.2);
  --shadow-lg: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.2),
    0px 4px 6px -1px hsl(145.4015 55.0201% 48.8235% / 0.2);
  --shadow-xl: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.2),
    0px 8px 10px -1px hsl(145.4015 55.0201% 48.8235% / 0.2);
  --shadow-2xl: 0px 4px 8px 0px hsl(145.4015 55.0201% 48.8235% / 0.5);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2264 0 0);
  --foreground: oklch(0.9551 0 0);
  --card: oklch(0.285 0 0);
  --card-foreground: oklch(0.9551 0 0);
  --popover: oklch(0.285 0 0);
  --popover-foreground: oklch(0.9551 0 0);
  --primary: oklch(0.7195 0.1633 153.3567);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3211 0 0);
  --secondary-foreground: oklch(0.9551 0 0);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.738 0 0);
  --accent: oklch(0.3485 0 0);
  --accent-foreground: oklch(0.9551 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.7195 0.1633 153.3567);
  --input: oklch(0.285 0 0);
  --ring: oklch(0.7195 0.1633 153.3567);
  --chart-1: oklch(0.7195 0.1633 153.3567);
  --chart-2: oklch(0.6353 0.1426 247.6116);
  --chart-3: oklch(0.6001 0.2115 27.5614);
  --chart-4: oklch(0.7635 0.1505 60.8384);
  --chart-5: oklch(0.5887 0.1365 274.2407);
  --sidebar: oklch(0.252 0 0);
  --sidebar-foreground: oklch(0.9551 0 0);
  --sidebar-primary: oklch(0.7195 0.1633 153.3567);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3485 0 0);
  --sidebar-accent-foreground: oklch(0.9551 0 0);
  --sidebar-border: oklch(0.7195 0.1633 153.3567);
  --sidebar-ring: oklch(0.7195 0.1633 153.3567);
  --font-sans: var(--font-Inter), "Inter", system-ui, -apple-system, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 5px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #38c172;
  --shadow-2xs: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.15);
  --shadow-xs: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.15);
  --shadow-sm: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.3),
    0px 1px 2px -1px hsl(145.4015 55.0201% 48.8235% / 0.3);
  --shadow: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.3),
    0px 1px 2px -1px hsl(145.4015 55.0201% 48.8235% / 0.3);
  --shadow-md: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.3),
    0px 2px 4px -1px hsl(145.4015 55.0201% 48.8235% / 0.3);
  --shadow-lg: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.3),
    0px 4px 6px -1px hsl(145.4015 55.0201% 48.8235% / 0.3);
  --shadow-xl: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.3),
    0px 8px 10px -1px hsl(145.4015 55.0201% 48.8235% / 0.3);
  --shadow-2xl: 0px 5px 10px 0px hsl(145.4015 55.0201% 48.8235% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
